.Skills{
    background-color: #f1f1f1;
    color: #515161;
}

.RowBackgroundColor{
    background-color: #f1f1f1;
}

.BarContainer {
    background-color: #8a98a7;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin:0.2rem 0rem;
    overflow: hidden;
}

.Adobe {
    width: 90%;
 }

.Office{
    width: 80%;
}

.Coding{
    width: 50%;
}

.Graphic {
    width: 95%;
}

.Maya{
    width: 50%;
}

.Photography{
    width: 80%;
}

.Line {
    height: 1rem;
    background-color: #8DD4D6;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.Text{
    color: #515161;
}

.Skills h2{
    text-align: center;
    font-weight: bold
}

.Line:hover{
    background-color:#88BF88;
}

.Skills img{
    width: 1.5rem;
    height: 1.5rem;
}

.Icon{
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 320px){
    .Skills h2{
        font-size: 1rem;
        letter-spacing: 0;
        margin-top: 2rem;
    }
    .Line{
        height: 0.2rem;
    }
    .Text{
        display: none;
    }
    .Icon img{
        width: 0.8rem;
        margin: 0.415rem;
    }
}

@media only screen and (min-width: 768px){
    .Skills h2{
        font-size: 2rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    .Text{
        display: inline;
    }
    .Skills p{
        font-size: 1rem;
        margin: 0rem 0.5rem;
    }
    .Line{
        height: 0.6rem;
    }
    .BarContainer{
        margin: 0.9rem 0rem;
    }
    .Icon img{
        width: 1rem;
        margin: 0.2rem;
    }
}

@media only screen and (min-width: 1024px){
    .Skills h2{
        font-size: 2rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .Icon img{
        width: 1.5rem;
        margin-right: 0.75rem;
    }
    .BarContainer{
        margin: 1.4rem 0rem;
    }
}

@media only screen and (min-width: 2000px){
     .Skills h2{
     font-size: 2rem;
     margin-top: 4rem;
     margin-bottom: 3rem;
 }
    .Skills p{
        font-size: 1rem;
    }
    .BarContainer{
        margin: 1.17rem 0rem;
    }
}

