.Skills{
    background-color: #515161;
    color:#D6D08D;
    width: 40%;
    padding: 2rem;
    border-top: 0.5rem solid #D6D08D;
}

.BarContainer {
    background-color: #8a98a7;
    border-top-right-radius: 2rem;
border-bottom-right-radius: 2rem;
margin:0.1rem 0rem;
   
}

.Adobe {
    width: 90%;
 }

.Office{
    width: 80%;
}

.Coding{
    width: 50%;
}

.Graphic {
    width: 95%;
}

.Maya{
    width: 50%;
}

.Photography{
    width: 80%;
}

.Line {
    height: 1rem;
    background-color: #8DD4D6;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.Text{
    color: #ececec;;
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 0.3rem;
}

.Skills h2{
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-weight: 600;
}

.Line:hover{
    background-color:#88BF88;
}