.Skills{
    background-color: #515161;
    color: #f1f1f1;;
    width: 40%;
    padding: 2rem;
}

.BarContainer {
    background-color: #8a98a7;
    border-top-right-radius: 2rem;
border-bottom-right-radius: 2rem;
margin:0.1rem 0rem;
overflow: hidden;
   
}

.Adobe {
    width: 90%;
 }

.Office{
    width: 80%;
}

.Coding{
    width: 50%;
}

.Graphic {
    width: 95%;
}

.Maya{
    width: 50%;
}

.Photography{
    width: 80%;
}

.Line {
    height: 1rem;
    background-color: #8DD4D6;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.Text{
    color: #ececec;;
    width: 100%;
    margin: 1rem;
}

.Skills h2{
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-weight: 600;
}

.Line:hover{
    background-color:#88BF88;
}

.Skills img{
    width: 1.5rem;
    height: 1.5rem;
}

.Icon{
display: flex;
align-items: center;
}

@media only screen and (min-width: 300px){
    .Skills{
        padding: 0 0.5rem;
    }
    .Skills h2{
        font-size: 0.9rem;
        margin: 1rem;
        letter-spacing:0;
    }
    .Line{
        height: 0.15rem;
    }
    .Text{
        display: none;
    }
    .Icon img{
        width: 0.6rem;
        margin: 0;
    }
    .BarContainer{
        margin: 0;
    }

}

@media only screen and (min-width: 765px){
    .Text{
        display: initial;
    }
    .Skills h2{
        font-size: 2em;
        margin: 1rem;
    }
    .Skills p{
        font-size: 1rem;
        margin: 0rem;
    }
    .Line{
        height: 0.6rem;
    }
    .Skills{
        padding: 2rem;
    }
    .BarContainer{
        margin: 1.2rem 0;
    }
    .Icon img{
        width: 1rem;
    }
}

@media only screen and (min-width: 1023px){
    .Skills{
        max-width: 30rem;
        padding: 4rem;
    }
    .Skills h2{
        font-size: 3em;
        margin-bottom: 4rem;
        
    }
    .Icon img{
        width: 1.5rem;
        margin-right: 1rem;
    }
    .Skills p{
        font-size: 1.3rem;
    }
    .Icon{
        margin-top: 2rem;
    }
}

