.Header {
    background-size: cover;
    background-image: url('../../ImageContainer/assets/Background.jpg');
    background-color:white ;
    z-index: 0;
  }

@media only screen and (min-width: 300px){
    .Header{
        height: 10rem;
    }
}

@media only screen and (min-width: 765px){
  .Header{
      height: 15rem;
  }
}

@media only screen and (min-width: 1023px){
  .Header{
      height: 20rem;
  }
}


