.Landing {
    background-color: rgb(81, 81, 97);
    color: #f1f1f1;
    padding: 2rem;
    height: 100%;
}

.Landing h2{
    margin: 0rem 0rem 0rem 1rem;
    font-size: 10rem;
    line-height: 1.1;
}

.Title{
    margin-top: 15rem;
}

.View{
margin: 1.5rem;
}