
.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem;
}

.Center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.Container h2{
    font-size: 4rem;
    text-align: center;
    margin: 2rem 0;
    font-weight: lighter;
    letter-spacing: 1rem;
}

.Center img{
    display: flex;
    margin: auto;
}

@media only screen and (min-width: 320px){
    .Container h2{
        font-size: 2rem;
        letter-spacing: 0.2rem;
    }
    .Center img{
        min-width: 15rem;
    }
}

@media only screen and (min-width: 768px){
    .Container h2{
        font-size: 4rem;
        letter-spacing: 00.5rem;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
    .Center img{
        min-width: 30rem;
        margin: 5rem;
    }
}

@media only screen and (min-width: 1024px){
    .Container h2{
        font-size: 5rem;
        letter-spacing: 0.5rem;
        margin: 10rem;
        font-weight: 600;
    }
    .Center{
        margin: 2rem;
    }
    .Center img{
        max-width: 50rem;
    }
}

@media only screen and (min-width: 2000px){
    .Container h2{
        font-size: 10rem;
        letter-spacing: 1rem;
        margin: 10rem;
      
    }
    .Center{
        margin: 2rem;
    }
    .Center img{
        max-width: 50rem;
    }
}