.Center{
  margin: 5rem 0rem;
}

.Container h2{
    font-size: 2rem;
    text-align: center;
    margin: 20rem 0rem;
    font-weight: lighter;
    letter-spacing: 1rem;
}

@media only screen and (min-width:320px){
      .Container h2{
        margin: 0;
        letter-spacing: 0.5rem;
      }
}

@media only screen and (min-width:765px){
    .Container h2{
      margin: 0;
      letter-spacing: 1rem;
      font-size: 3rem;
    }
}