Img {
    width: 100%;
}

.Container{
    color:#88BF88;
}

.Carousel{
    text-align: center;
    width: 60%;
    margin: auto;
}

.Slider{
    background-color: rgb(59, 59, 59);
     
}

.ButtonBack{
    top: 50%;
    right:105%;
    background-image: url('../ImageContainer/assets/chevron-back.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: unset;
    height: 2rem;
    border-radius: 5rem;
    background-color:rgba(43, 43, 43, 1);
}

.ButtonNext{
    top: 50%;
    left:105%;
    background-image: url('../ImageContainer/assets/chevron-forward.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: unset;
    height: 2rem;
    border-radius: 5rem;
    background-color:rgba(43, 43, 43, 1);
}

.ButtonBack:hover,
.ButtonNext:hover{
    opacity: 1;
    border: 2px solid rgba(100, 219, 209, 0.5);
    background-color: rgba(5, 5, 5, 0.1);
}

button{
    padding: 1rem 1rem;
    position: absolute;
    border: none;
    background-color: rgba(43, 43, 43, 0);
    outline:none;
    opacity: 0.7;
    border-radius: 3rem;
}
