Img {
    display: inline-flex;
    margin: 2rem;
    max-width: 50%;
    margin: 0 auto;

}

.Container{
    color:#88BF88;
}

.Carousel{
    text-align: center;
    overflow: hidden;
    
}

.Slider{
    background-color: rgb(59, 59, 59);
    padding: 2rem;
    
}


.ButtonBack{
    top: 50%;
    left:15%;
    background-image: url('../ImageContainer/assets/chevron-back.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: unset;
    height: 2rem;

}

.ButtonNext{
    top: 50%;
    right:15%;
    background-image: url('../ImageContainer/assets/chevron-forward.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: unset;
    height: 2rem;
}

.ButtonBack:hover,
.ButtonNext:hover{
    opacity: 1;
    border: 2px solid rgba(100, 219, 209, 0.5);
    background-color: rgba(5, 5, 5, 0.1);
}

button{
    padding: 1rem 1rem;
    position: absolute;
    border: none;
    background-color: rgba(43, 43, 43, 0);
    outline:none;
    opacity: 0.7;
    border-radius: 3rem;
}
