

.ImageContainer2 {
    background-color: black;
    height: 20rem;
    width: 35%;
    color: white;
    background-image: url('../../Images/bill.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}