body,
html,
#root {
  height: 100%;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
}


h2 {
  font-size: 5.5rem;
  letter-spacing: 0.3rem;
}

.Home{
  margin: auto;
  width: 100%;
}

.App{
  background-color: rgb(81, 81, 97);
    height: 100%;
}