.NavBar{
  background-color: rgb(81, 81, 97);
  height:3.5rem;
  z-index: 2; 
  align-items: center;
  
}

.Home{
  display: inline-flex;
  justify-content: flex-start !important;
}

.PortfolioButton{
  display: flex;
  justify-content: flex-start !important;
}