
.wrapper{
  margin: 0rem 2rem;
  display: inline-flex;
}

a,
a.visited,
a.hover,
a.active {
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color: #f1f1f1;
  font-size:1rem;
}

a.hover{
    color:#D6D08D;
}

a.before:before,
a.after:after {
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
  
}

a.before:before {
  top:-0.25rem;
}

a.after:after {
  bottom:-0.25rem;
}

a.before:before,
a.after:after{
  height:0.15rem;
  width:0;
  background:#88BF88;
}

a.first:after {
  left:0;
}

a.second:after {
  right:0;
}

a.before:hover:before,
a.after:hover:after {
  width:100%;
}

@media only screen and (min-width: 300px){
  div.wrapper{
    margin: 0rem;
  }  
  a,
a.visited,
a.hover,
a.active {
  font-size: 0.75rem;
}
a.wrapper.second.after{
  margin: 0.5rem;
}
a.Home{
  margin: 0.5rem;
}
}

@media only screen and (min-width: 700px){
  .wrapper{
    margin:  0rem 1rem;
  }  
  a,
  a.visited,
  a.hover,
  a.active {
    font-size: 1rem;
    margin-right: 3rem;
  }
}

@media only screen and (min-width: 900px){
  a,
  a.visited,
  a.hover,
  a.active {
    font-size: 1rem;
    margin-right: 3rem;
  }
}

@media only screen and (min-width: 1439px){
  a,
  a.visited,
  a.hover,
  a.active {
    font-size: 1.25rem;
    margin-right: 3rem;
  }
}

@media only screen and (min-width: 2559px){
  a,
  a.visited,
  a.hover,
  a.active {
    font-size: 1.5rem;
    margin-right: 3rem;
  }
}





