.Experience{
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    padding:2.45rem 3rem;
    height: 100%;
}

.Summary,
.Manager,
.Supervisor,
.Designer,
.Artist {
    padding: 0;
    margin: 0;
}

.Experience h2{
    color:rgb(81, 81, 97);
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 0.7rem;
    margin-bottom: 0;
}

.Experience p{
    display: flex;
    margin: 0.7rem;
}

.Address{
    font-style: italic;
    margin: 0;
    color: #7cbcbe;
}

.Summary h2{
    font-size: 2.5rem;
}

.Summary p{
   margin-top: 2.5rem;
}

@media only screen and (min-width: 320px){
    .Experience{
       padding: 0.5rem 0rem;
    }
    .Experience h2{
        font-size: 0.8rem;
        margin-top: 0rem;
       letter-spacing:0;
    }
    .Experience p{
        line-height:0.75rem;
        font-size: 0.6rem;
    }
    .Summary p{
        margin-top: 0.5rem;
        font-size: 0.6rem;
        line-height:0.75rem;
    }
    .Summary h2{
        font-size: 0.9rem;
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 360px){
    .Experience{
       padding: 0.5rem 0rem;
    }
    .Experience h2{
        font-size: 0.8rem;
        margin-top: 0rem;
       letter-spacing:0;
    }
    .Experience p{
        line-height:0.75rem;
        font-size: 0.6rem;
    }
    .Summary p{
        margin-top: 0.5rem;
        font-size: 0.6rem;
        line-height:0.75rem;
    }
    .Summary h2{
        font-size: 0.9rem;
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 768px){
    .Experience{
       padding: 1rem;
       margin-top: 1rem;
    }
    .Experience h2{
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }
    .Experience p{
        margin-top: 0.5rem;
        font-size: 1rem;
        line-height: 1.3rem;
    }
    .Summary p{
        margin-top: 1rem;
        font-size: 1rem;
    }
    .Summary h2{
        font-size: 2rem;
        margin-top: 0;
    }
}

@media only screen and (min-width: 1024px){
    .Summary h2{
        font-size: 3rem;
        margin-top: 1rem;
    }
    .Summary p{
        margin-top: 3rem;
    }

    .Experience h2{
        letter-spacing: 0.1rem;
    }
    .Address{
        font-weight: bold;
    }
}

@media only screen and (min-width: 1439px){
    .Experience{
        width: 105rem;
        padding: 4rem;
    }
    .Summary h2{
        font-size: 3rem;
    }

    .Experience h2{
        letter-spacing: 0.25rem;
    }
    .Experience p{
        width: 800px;
    }
    .Address{
        font-weight: bold;
    }
}