.Experience{
   background-color: #f1f1f1;

}

.Summary,
.Manager,
.Supervisor,
.Designer,
.Artist {
    padding: 0;
    margin: 0;
}

.Experience h2{
    color:rgb(81, 81, 97);
    font-size: 1.5rem;
}

.Address{
    font-style: italic;
    color: #7cbcbe;
    margin: 0;
}


.Summary h1{
    color:rgb(81, 81, 97);
    font-weight: bold;
}

.Summary p{
   margin-top: 2.5rem;
}

@media only screen and (min-width: 320px){
    .Experience h2{
        font-size: 0.7rem;
        letter-spacing:0;
        margin-bottom: 0.25rem;
    }
    .Experience p{
        font-size: 0.5rem;
        line-height: 1.2;
        margin-bottom: 0.5rem;
    }
    .Summary p{
        margin-top: 0.5rem;
        font-size: 0.5rem;
        
    }
    .Summary h1{
        font-size: 0.9rem;
        margin-top: 1.5rem;
        letter-spacing: 0;
    }
    .Address{
        font-size: 0.4rem !important;
        margin-bottom: 0.5rem;
    }
}

@media only screen and (min-width: 768px){
    .Experience{
        margin-top: 3rem;
    }
    .Experience h2{
        font-size: 1rem;
        margin-top: 1rem;
    }
    .Experience p{
        margin-top: 0.5rem;
        font-size: 1rem;
        line-height: 1.3rem;
    }
    .Summary p{
        margin-top: 3rem;
        font-size: 1rem;
        line-height: 1.3;
    }
    .Summary h1{
        font-size: 2rem;
        margin-top: 3.5rem;
    }
    .Address{
        font-size: 0.8rem !important;
    }
    .Experience{
        padding: 0 3%;
    }
}

@media only screen and (min-width: 1024px){
    .Summary h1{
        margin-top: 5rem;
        font-size: 2rem;
    }
    .Summary p{
        margin-top: 3rem;
        line-height: 1.5;
    }
    .Experience h2{
        font-size: 1.3rem;
        margin-top: 2rem;
    }
    .Experience p{
        font-size: 1rem;
        line-height: 1.5;
    }
}

@media only screen and (min-width: 2000px){
    .Summary h1{
        margin-top: 2rem !important;
        margin-bottom: 4rem;
    }
    .Summary p{
        margin-top: 3rem;
    }
    .Experience{
        padding: 1% 5%;
    }
}
