.Footer{
    display: flex;
    background-color: rgb(170, 174, 175);;
    height: 2rem;
    padding: 1rem 0rem;
    margin: 0;
}

.Indeed{
    margin: auto;
    background-image: url('../../ImageContainer/assets/indeed.svg');
    background-repeat: no-repeat;
}