body,
html,
#root {
  height: 100%;
  margin: 0;
}

html {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 5.5rem;
  letter-spacing: 0.3rem;
}

.Home{
  margin: auto;
  width: 100%;
}