.Size{
    text-align: center;
}

.Carousel{
    background-color: rgb(43, 43, 43);
}

.ButtonBack{
    background-image: url('../ImageContainer/assets/chevron-back.svg');
background-repeat: no-repeat;
 background-position: center;
 background-size: unset;
 height: 2rem;

}

.ButtonNext{
    background-image: url('../ImageContainer/assets/chevron-forward.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: unset;
    height: 2rem;
}

.ButtonBack:hover,
.ButtonNext:hover{
    opacity: 1;
    border: 2px solid rgba(100, 219, 209, 0.5);
    background-color: rgba(5, 5, 5, 0.1);
}

button{
    padding: 1rem 1rem;
    position: absolute;
    border: none;
    background-color: rgba(43, 43, 43, 0);
    outline:none;
    opacity: 0.7;
    border-radius: 3rem;
}

.Slider{
    width: 200%;
    left:-50%;
    padding-top:5%;

}


@media only screen and (min-width:320px){
    .Carousel{
        height: 12.5rem;
    }
    .ButtonNext{
        right: 5%;
        top:28%;
    }
    .ButtonBack{
        left: 5%;
        top:28%;
    }
}
@media only screen and (min-width:360px){
    .Carousel{
        height: 14rem;
        margin-bottom: 2rem;
    }
    .ButtonNext{
        right: 5%;
        top:25%;
    }
    .ButtonBack{
        left: 5%;
        top:25%;
    }
}

@media only screen and (min-width:375px){
    .Carousel{
        height: 15em;
        margin-bottom: 2rem;
    }
    .ButtonNext{
        right: 8%;
        top:25%;
    }
    .ButtonBack{
        left: 8%;
        top:25%;
    }
}

@media only screen and (min-width:411px){
    .Carousel{
        height: 16rem;
        margin-bottom: 2rem;
    }
    .ButtonNext{
        right: 8%;
        top:27%;
    }
    .ButtonBack{
        left: 8%;
        top:27%;
    }
}


@media only screen and (min-width:768px){
    .Carousel{
        height: 30rem;
        margin-bottom: 4rem;
    }
    .ButtonNext{
        right: 10%;
        top:30%;
    }
    .ButtonBack{
        left: 10%;
        top:30%;
    }
}


@media only screen and (min-width:1024px){
    .Carousel{
        height: 40rem;
        margin-bottom: 2rem;
    }
    .ButtonNext{
        right: 10%;
        top:31%;
    }
    .ButtonBack{
        left:10%;
        top:31%;
    }
}



@media only screen and (min-width:1440px){
    .Carousel{
        height: 65rem;
    }
    .ButtonNext{
        right: 20%;
        top:50%;
    }
    .ButtonBack{
        left: 20%;
        top:50%;
    }
}


@media only screen and (min-width:2560px){
    .Carousel{
        height: 80rem;
    }
    .ButtonNext{
        right: 25%;
        top:45%;
    }
    .ButtonBack{
        left: 25%;
        top:45%;
    }
}


