.Size{
    text-align: center;
}

.Carousel{
    background-color: rgb(43, 43, 43);
    overflow: hidden;
    height: 40rem;
}

.ButtonBack{
    top: 26%;
    left:25%;
    background-image: url('./Components/ImageContainer/assets/chevron-back.svg');
background-repeat: no-repeat;
 background-position: center;
 background-size: unset;
 height: 2rem;

}

.ButtonNext{
    top: 25%;
    right: 28%; 
    background-image: url('./Components/ImageContainer/assets/chevron-forward.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: unset;
    height: 2rem;
}

.ButtonBack:hover,
.ButtonNext:hover{
    opacity: 1;
    border: 2px solid rgba(100, 219, 209, 0.5);
    background-color: rgba(5, 5, 5, 0.1);
}

button{
    padding: 1rem 1rem;
    position: absolute;
    border: none;
    background-color: rgba(43, 43, 43, 0);
    outline:none;
    opacity: 0.7;
    border-radius: 3rem;
}


@media only screen and (min-width:320px){
    .Slider{
        margin-top: 1rem;
        width: 300%;
        left:-100%
    }
    .Carousel{
        height: 18rem;
    }
    .ButtonNext{
        right: 5%;
        top:35%;
    }
    .ButtonBack{
        left: 5%;
        top:35%;
    }
}
@media only screen and (min-width:360px){
    .Carousel{
        height: 21rem;
        margin-bottom: 2rem;
    }
    .ButtonNext{
        right: 5%;
        top:35%;
    }
    .ButtonBack{
        left: 5%;
        top:35%;
    }
}

@media only screen and (min-width:375px){
    .Carousel{
        height: 22rem;
        margin-bottom: 2rem;
    }
}

@media only screen and (min-width:411px){
    .Carousel{
        height: 23rem;
        margin-bottom: 2rem;
    }
    .ButtonNext{
        right: 5%;
        top:34%;
    }
    .ButtonBack{
        left: 5%;
        top:34%;
    }
}


@media only screen and (min-width:768px){
    .Slider{
        margin-top: 5%;
        width: 250%;
        left:-75%
    }
    .Carousel{
        height: 36.5rem;
        margin-bottom: 4rem;
    }
    .ButtonNext{
        right: 5%;
        top:35%;
    }
    .ButtonBack{
        left: 5%;
        top:35%;
    }
}


@media only screen and (min-width:1024px){
    .Slider{
        margin-top: 3rem;
        width: 250%;
        left:-75%
    }
    .Carousel{
        height: 50rem;
        margin-bottom: 5rem;
    }
    .ButtonNext{
        right: 5%;
        top:35%;
    }
    .ButtonBack{
        left: 5%;
        top:35%;
    }
}



@media only screen and (min-width:1440px){
    .Slider{
        margin-top: 2rem;
    }
    .Carousel{
        height: 65rem;
    }
    .ButtonNext{
        right: 20%;
        top:50%;
    }
    .ButtonBack{
        left: 20%;
        top:50%;
    }
}


@media only screen and (min-width:2560px){
    .Slider{
        margin-top: 2rem;
        width: 130%;
        left:-15%
    }
    .Carousel{
        height: 60rem;
    }
    .ButtonNext{
        right: 25%;
        top:45%;
    }
    .ButtonBack{
        left: 25%;
        top:45%;
    }
}


